:root {
    --primary: #EB5757;
    --secondary: #111111;
    --accent: #585858;
}

* {
    padding: 0px;
    margin: 0px;
    font-family: 'Work Sans', sans-serif;
}


img {
    width: 100%;
}

ol{
    margin-left: 20px !important;
    list-style: number !important;
}

/* default css end */

/* header css start */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1280px;
    margin: 50px auto;
}

h1.logo{
    color: var(--secondary);
    font-size: 45px;
    font-weight: 800;
}

.default-button {
    border: none;
    background: var(--primary);
    color: white;
    font-size: 20px;
    font-weight: 600;
    padding: 25px 30px;
    border-radius: 1rem;
    cursor: pointer;
    text-align: center;
}

/* card grid css start */
section#card-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    max-width: 1280px;
    margin: auto;
}

.card {
    padding: 1.5rem;
    border: 1px solid var(--accent);
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

h3.title{
    font-size: 25px;
    font-weight: 600;
}

li {
    color: var(--accent);
    font-size: 1rem;
    font-weight: 400;
}

.info {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.info > div {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.time{
    color: var(--accent);
}

.go-button {
    border: none;
    font-size: 24px;
    background: white;
    color: var(--primary);
    border-radius: 50%;
    padding: 5px 8px;
}

.go-button :hover{
    background: var(--primary);
    color: white;
    transition: 0.5s;
    border-radius: 50%;
    padding: 5px 7px;
    cursor: pointer;
}